*,body{
    margin: 0;
    padding: 0;
    overflow: initial !important;
}
html{
    scroll-behavior: smooth;
}
#scrollTop-btn{
    position: fixed;
    font-size: 30px;
    bottom: 20px;
    right: 30px;
    background-color: transparent;
    outline: none;
    border: transparent;
    color: #F2A93B;
    display: none;
    cursor: pointer;
}
.header-section{
    background-color: #F2EFEF;
    text-align: center;
    padding: 20px;
}
.header-section h2{
    margin: 10px auto;
    font-size: 35px;
    color: #F2A93B;
    letter-spacing: 2px;
}
.header-section p{
    font-weight: bold;
    color: #222;
}
.input-section{
    padding: 20px;
}
.input-section .input-box{
    text-align: center;
    margin: 20px auto;
    position: relative;
    width: 50%;
    height: 30px;
    
}
#clear-btn{
    position: absolute;
    font-size: 16px;
    top: 20%;
    right: 0;
    font-weight: bold;
    color: red;
    background: transparent;
    border: none;
    display: none;
    cursor: pointer;
}
.input-section .input-box input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-top: none;
    border-left: none;
    border: 2px solid #d3d1d1;
    padding-left: 20px;
    color: #F2A93B;
    outline: none;
    font-weight: bold;
}
.input-section .button-box{
    text-align: center;
    height: 34px;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.input-section .button-box button{
    width: 150px;
    height: 100%;
    border-radius: 20px;
    margin-right: 10px;
    border: transparent;
    background-color: #F2A93B;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}
.input-section .button-box #chart-btn{
    font-size: 30px;
    width: auto;
    height: 100%;
    background-color: transparent;
    color: #F2A93B;
    font-weight: bold;
}
.output-countries-section{
    background-color: #F2EFEF;
    display: grid;
    grid-template-columns: 16vw 16vw 16vw 16vw 16vw;
    justify-content: space-evenly;
    overflow-x: hidden;
    padding-top: 50px;
}
.output-countries-section .country{
    background-color: #f7f7f7;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.output-countries-section .country div{
    width: 90%;
    height: 100px;
    margin: 10px auto;
    text-align: center;
}
.output-countries-section .country div img{
    width: 100%;
    height: 100%;
}
.output-countries-section .country h5{
    font-size: 16px;
    line-height: 24px;
}
.output-countries-section .country .name{
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
    color: #F2A93B;
}
.output-countries-section .country .language{
    word-wrap:break-word;
}
/***chart***/
.output-chart-section {
    display: none;
    margin-bottom: 0;
}
.output-chart-section h2{
    text-align: center;
    color: #F2A93B;
    padding-top: 50px;
    padding-bottom: 30px;
}
.chart-section{
    padding-top: 50px;
    background-color: #eee;
}

.chart-section .country{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.chart-section .country:last-child{
    margin-bottom: 0;
}
.chart-section .graph{
    width: 500px;
    height: 33px;
}
.chart-section .name,.chart-section .population{
    font-size: 20px;
    text-align: left;
    justify-content: left;
    width: 120px;
    margin: 5px auto;
}
/**loading***/
.spinner-wrapper{
    width: 100%;
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}
.spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #151515;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /***responsive***/
  @media(max-width:1100px){
    .output-countries-section{
        grid-template-columns: 20vw 20vw 20vw 20vw;
    }
    .output-countries-section .country{
        padding: 8px 10px;
    }
  }
  @media(max-width:899px){
    .output-countries-section{
        grid-template-columns: 30vw 30vw 30vw;
    }
    .output-countries-section .country{
        padding: 5px 10px;
    }
    .output-countries-section .country div{
        width: 75%;
    }
    .chart-section .graph{
        width:370px;
        height: 30px;
    }
  }
  @media(max-width:699px){
    .output-countries-section{
        grid-template-columns: 40vw 40vw;
    }
    .output-countries-section .country{
        padding: 4px 8px;
    }
    .output-countries-section .country div{
        width: min(34vw,160px);
    }
    .chart-section .graph{
        width:min(300px,40%);
        height: 28px;
    }
    .chart-section .name,.chart-section .population{
        font-size: 17px;
        font-weight: bold;
        width: 20%;
    }
  }
  @media(max-width:399px){
      .input-section .input-box{
          width: 70%;
      }
      .input-section .input-box input{
          padding-left: 5px;
      }
    .input-section .button-box{
        display: grid;
        grid-template-columns: 35vw 35vw;
        justify-content: space-around;
        height: auto;
    }
    .input-section .button-box button{
        margin: 10px auto;
        width: 100%;
        height: 30px;
        font-size: 11px;
    }
    .input-section .button-box #chart-btn{
        font-size: 23px;
        margin-top: 0;
    }
    .output-countries-section{
        grid-template-columns: 90vw;
    }
    .output-countries-section .country{
        padding: 8px 8px;
    }
    .output-countries-section .country div{
        width: min(80vw,180px);
    }
    .output-chart-section h2{
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .chart-section{
        padding-top: 30px;
    }
    .chart-section .country{
        margin: 10px auto;
    }
    .chart-section .graph{
        width:min(120px,30%);
        height: 20px;
    }
    .chart-section .name,.chart-section .population{
        font-size: 12px;
        font-weight: bold;
        width: 15%;
    }
    .chart-section .name{
        margin-left: 10px;
    }
    .chart-section .population{
        margin-left: 10px;
    }
  }
